blueprint_nick_hart.json
{
    "name": "Integration HTTP 2",
    "flow": [
        {
            "id": 32,
            "module": "google-sheets:createSpreadsheet",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5330277
            },
            "mapper": {
                "sheets": [
                    {
                        "properties": {
                            "title": "Sheet_1"
                        }
                    }
                ],
                "properties": {
                    "title": "The JSON Data",
                    "defaultFormat": {}
                }
            },
            "metadata": {
                "designer": {
                    "x": 132,
                    "y": -27
                },
                "restore": {
                    "expect": {
                        "sheets": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "properties": {
                            "nested": {
                                "timeZone": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "autoRecalc": {
                                    "mode": "chose",
                                    "label": "Empty"
                                },
                                "defaultFormat": {
                                    "nested": {
                                        "numberFormat": {
                                            "mode": "chose",
                                            "label": "Empty"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (nickhart4477@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "properties",
                        "spec": [
                            {
                                "name": "title",
                                "type": "text",
                                "label": "Title",
                                "required": true
                            },
                            {
                                "name": "locale",
                                "type": "text",
                                "label": "Locale"
                            },
                            {
                                "name": "autoRecalc",
                                "type": "select",
                                "label": "Recalculation interval",
                                "validate": {
                                    "enum": [
                                        "ON_CHANGE",
                                        "MINUTE",
                                        "HOUR"
                                    ]
                                }
                            },
                            {
                                "name": "timeZone",
                                "type": "select",
                                "label": "Time zone"
                            },
                            {
                                "name": "defaultFormat",
                                "spec": [
                                    {
                                        "name": "numberFormat",
                                        "type": "select",
                                        "label": "Number format",
                                        "validate": {
                                            "enum": [
                                                "TEXT",
                                                "NUMBER",
                                                "PERCENT",
                                                "CURRENCY",
                                                "DATE",
                                                "TIME",
                                                "DATE_TIME",
                                                "SCIENTIFIC"
                                            ]
                                        }
                                    }
                                ],
                                "type": "collection",
                                "label": "Default format"
                            }
                        ],
                        "type": "collection",
                        "label": "Properties"
                    },
                    {
                        "name": "sheets",
                        "spec": {
                            "name": "value",
                            "spec": [
                                {
                                    "name": "properties",
                                    "spec": [
                                        {
                                            "name": "title",
                                            "type": "text",
                                            "label": "Title"
                                        },
                                        {
                                            "name": "index",
                                            "type": "number",
                                            "label": "Index"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Properties"
                                }
                            ],
                            "type": "collection",
                            "label": "Sheet"
                        },
                        "type": "array",
                        "label": "Sheets"
                    }
                ]
            }
        },
        {
            "id": 35,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5330277
            },
            "mapper": {
                "mode": "fromAll",
                "values": {
                    "0": "title",
                    "1": "isbn",
                    "2": "price",
                    "3": "description",
                    "4": "author",
                    "5": "publisher",
                    "6": "publication_date",
                    "7": "pages",
                    "8": "format",
                    "9": "categories",
                    "10": "image_url"
                },
                "sheetId": "{{32.sheets[].properties.title}}",
                "spreadsheetId": "{{32.spreadsheetId}}",
                "tableFirstRow": "A1:Z1",
                "includesHeaders": false,
                "insertDataOption": "INSERT_ROWS",
                "valueInputOption": "USER_ENTERED",
                "insertUnformatted": false
            },
            "metadata": {
                "designer": {
                    "x": 432,
                    "y": -27
                },
                "restore": {
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "sheetId": {
                            "mode": "edit"
                        },
                        "tableFirstRow": {
                            "label": "A-Z",
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ]
                        },
                        "includesHeaders": {
                            "label": "No"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "label": "Insert rows"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "label": "User entered"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            },
                            "label": "My Google connection (nickhart4477@gmail.com)"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "tableFirstRow",
                        "type": "select",
                        "label": "Column range",
                        "required": true,
                        "validate": {
                            "enum": [
                                "A1:Z1",
                                "A1:BZ1",
                                "A1:CZ1",
                                "A1:DZ1",
                                "A1:MZ1",
                                "A1:ZZ1"
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            }
                        ],
                        "type": "collection",
                        "label": "Values"
                    }
                ]
            }
        },
        {
            "id": 1,
            "module": "http:ActionSendData",
            "version": 3,
            "parameters": {
                "handleErrors": true,
                "useNewZLibDeCompress": true
            },
            "mapper": {
                "ca": "",
                "qs": [],
                "url": "https://raw.githubusercontent.com/dk-books/tech-interview/refs/heads/main/ae/books.json",
                "gzip": true,
                "method": "get",
                "headers": [],
                "timeout": "",
                "useMtls": false,
                "authPass": "",
                "authUser": "",
                "bodyType": "",
                "serializeUrl": false,
                "shareCookies": false,
                "parseResponse": true,
                "followRedirect": true,
                "useQuerystring": false,
                "followAllRedirects": false,
                "rejectUnauthorized": true
            },
            "metadata": {
                "designer": {
                    "x": 732,
                    "y": -27
                },
                "restore": {
                    "expect": {
                        "qs": {
                            "mode": "chose"
                        },
                        "method": {
                            "mode": "chose",
                            "label": "GET"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "bodyType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "handleErrors",
                        "type": "boolean",
                        "label": "Evaluate all states as errors (except for 2xx and 3xx )",
                        "required": true
                    },
                    {
                        "name": "useNewZLibDeCompress",
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "serializeUrl",
                        "type": "boolean",
                        "label": "Serialize URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Headers"
                    },
                    {
                        "name": "qs",
                        "spec": [
                            {
                                "name": "name",
                                "type": "text",
                                "label": "Name",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ],
                        "type": "array",
                        "label": "Query String"
                    },
                    {
                        "name": "bodyType",
                        "type": "select",
                        "label": "Body type",
                        "validate": {
                            "enum": [
                                "raw",
                                "x_www_form_urlencoded",
                                "multipart_form_data"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "authUser",
                        "type": "text",
                        "label": "User name"
                    },
                    {
                        "name": "authPass",
                        "type": "password",
                        "label": "Password"
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "max": 300,
                            "min": 1
                        }
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "ca",
                        "type": "cert",
                        "label": "Self-signed certificate"
                    },
                    {
                        "name": "rejectUnauthorized",
                        "type": "boolean",
                        "label": "Reject connections that are using unverified (self-signed) certificates",
                        "required": true
                    },
                    {
                        "name": "followRedirect",
                        "type": "boolean",
                        "label": "Follow redirect",
                        "required": true
                    },
                    {
                        "name": "useQuerystring",
                        "type": "boolean",
                        "label": "Disable serialization of multiple same query string keys as arrays",
                        "required": true
                    },
                    {
                        "name": "gzip",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "useMtls",
                        "type": "boolean",
                        "label": "Use Mutual TLS",
                        "required": true
                    },
                    {
                        "name": "followAllRedirects",
                        "type": "boolean",
                        "label": "Follow all redirect",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 14,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": 190522
            },
            "mapper": {
                "json": "{{1.data}}"
            },
            "metadata": {
                "designer": {
                    "x": 991,
                    "y": -17
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "The JSON Data Structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "title",
                        "type": "text",
                        "label": "Title",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "isbn",
                        "type": "text",
                        "label": "Isbn",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "price",
                        "type": "number",
                        "label": "Price",
                        "default": null,
                        "required": false
                    },
                    {
                        "name": "description",
                        "type": "text",
                        "label": "Description",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "author",
                        "type": "text",
                        "label": "Author",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "publisher",
                        "type": "text",
                        "label": "Publisher",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "publication_date",
                        "type": "text",
                        "label": "Publication Date",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "pages",
                        "type": "number",
                        "label": "Pages",
                        "default": null,
                        "required": false
                    },
                    {
                        "name": "format",
                        "type": "text",
                        "label": "Format",
                        "default": null,
                        "required": false,
                        "multiline": false
                    },
                    {
                        "name": "categories",
                        "spec": {
                            "type": "text",
                            "default": null,
                            "required": false,
                            "multiline": false
                        },
                        "type": "array",
                        "label": "Categories",
                        "required": false
                    },
                    {
                        "name": "image_url",
                        "type": "text",
                        "label": "Image Url",
                        "default": null,
                        "required": false,
                        "multiline": false
                    }
                ]
            }
        },
        {
            "id": 25,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 14
            },
            "filter": {
                "name": "Filter Categories",
                "conditions": [
                    [
                        {
                            "a": "{{toString(14.categories)}}",
                            "b": "Nonfiction",
                            "o": "text:contain"
                        }
                    ],
                    [
                        {
                            "a": "{{toString(14.categories)}}",
                            "b": "Hobbies",
                            "o": "text:contain"
                        }
                    ]
                ]
            },
            "mapper": {
                "data": "{{1.data}}",
                "isbn": "{{14.isbn}}",
                "pages": "{{14.pages}}",
                "price": "{{14.price}}",
                "title": "{{14.title}}",
                "author": "{{14.author}}",
                "format": "{{14.format}}",
                "headers": "{{1.headers}}",
                "fileSize": "{{1.fileSize}}",
                "image_url": "{{14.image_url}}",
                "publisher": "{{14.publisher}}",
                "categories": "{{14.categories}}",
                "statusCode": "{{1.statusCode}}",
                "description": "{{14.description}}",
                "cookieHeaders": "{{1.cookieHeaders}}",
                "publication_date": "{{14.publication_date}}"
            },
            "metadata": {
                "designer": {
                    "x": 1257,
                    "y": -24
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "JSON - Parse JSON [14]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    },
                    "expect": {
                        "__IMTTARGET__": {
                            "nested": {
                                "values": {
                                    "mode": "edit"
                                }
                            }
                        }
                    }
                },
                "expect": [
                    {
                        "name": "__IMTTARGET__",
                        "spec": [
                            {
                                "name": "values",
                                "spec": {
                                    "name": "value",
                                    "type": "text",
                                    "label": "Column"
                                },
                                "type": "array",
                                "label": "Values"
                            }
                        ],
                        "type": "collection",
                        "label": "Rows"
                    }
                ]
            }
        },
        {
            "id": 29,
            "module": "builtin:BasicFeeder",
            "version": 1,
            "parameters": {},
            "filter": {
                "name": "Filter Categories",
                "conditions": []
            },
            "mapper": {
                "array": "{{25.array}}"
            },
            "metadata": {
                "designer": {
                    "x": 1560,
                    "y": -18
                },
                "restore": {
                    "expect": {
                        "array": {
                            "mode": "edit"
                        }
                    }
                },
                "expect": [
                    {
                        "mode": "edit",
                        "name": "array",
                        "spec": [],
                        "type": "array",
                        "label": "Array"
                    }
                ]
            }
        },
        {
            "id": 34,
            "module": "google-sheets:addRow",
            "version": 2,
            "parameters": {
                "__IMTCONN__": 5330277
            },
            "mapper": {
                "mode": "fromAll",
                "insertUnformatted": false,
                "valueInputOption": "USER_ENTERED",
                "insertDataOption": "INSERT_ROWS",
                "spreadsheetId": "{{32.spreadsheetId}}",
                "sheetId": "{{32.sheets[].properties.title}}",
                "includesHeaders": true,
                "values": {
                    "0": "{{29.title}}",
                    "1": "{{29.isbn}}",
                    "2": "{{if((parseDate(29.publication_date; \"\"\"YYYY-mm-dd\"\"\") > parseDate(\"\"\"2020-12-31\"\"\"; \"\"\"YYYY-mm-dd\"\"\")); formatNumber(29.price * 1.2; 2; \".\"; \",\"); 29.price)}}",
                    "3": "{{29.description}}",
                    "4": "{{29.author}}",
                    "5": "{{29.publisher}}",
                    "6": "{{29.publication_date}}",
                    "7": "{{29.pages}}",
                    "8": "{{29.format}}",
                    "9": "{{29.categories}}",
                    "10": "{{29.image_url}}"
                }
            },
            "metadata": {
                "designer": {
                    "x": 1851,
                    "y": -40
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My Google connection (nickhart4477@gmail.com)",
                            "data": {
                                "scoped": "true",
                                "connection": "google"
                            }
                        }
                    },
                    "expect": {
                        "mode": {
                            "label": "Select from all"
                        },
                        "insertUnformatted": {
                            "mode": "chose"
                        },
                        "valueInputOption": {
                            "mode": "chose",
                            "collapsed": true,
                            "label": "User entered"
                        },
                        "insertDataOption": {
                            "mode": "chose",
                            "collapsed": true,
                            "label": "Insert rows"
                        },
                        "sheetId": {
                            "mode": "edit"
                        },
                        "includesHeaders": {
                            "nested": [
                                {
                                    "name": "values",
                                    "spec": [
                                        {
                                            "name": "0",
                                            "type": "text",
                                            "label": "A"
                                        },
                                        {
                                            "name": "1",
                                            "type": "text",
                                            "label": "B"
                                        },
                                        {
                                            "name": "2",
                                            "type": "text",
                                            "label": "C"
                                        },
                                        {
                                            "name": "3",
                                            "type": "text",
                                            "label": "D"
                                        },
                                        {
                                            "name": "4",
                                            "type": "text",
                                            "label": "E"
                                        },
                                        {
                                            "name": "5",
                                            "type": "text",
                                            "label": "F"
                                        },
                                        {
                                            "name": "6",
                                            "type": "text",
                                            "label": "G"
                                        },
                                        {
                                            "name": "7",
                                            "type": "text",
                                            "label": "H"
                                        },
                                        {
                                            "name": "8",
                                            "type": "text",
                                            "label": "I"
                                        },
                                        {
                                            "name": "9",
                                            "type": "text",
                                            "label": "J"
                                        },
                                        {
                                            "name": "10",
                                            "type": "text",
                                            "label": "K"
                                        },
                                        {
                                            "name": "11",
                                            "type": "text",
                                            "label": "L"
                                        },
                                        {
                                            "name": "12",
                                            "type": "text",
                                            "label": "M"
                                        },
                                        {
                                            "name": "13",
                                            "type": "text",
                                            "label": "N"
                                        },
                                        {
                                            "name": "14",
                                            "type": "text",
                                            "label": "O"
                                        },
                                        {
                                            "name": "15",
                                            "type": "text",
                                            "label": "P"
                                        },
                                        {
                                            "name": "16",
                                            "type": "text",
                                            "label": "Q"
                                        },
                                        {
                                            "name": "17",
                                            "type": "text",
                                            "label": "R"
                                        },
                                        {
                                            "name": "18",
                                            "type": "text",
                                            "label": "S"
                                        },
                                        {
                                            "name": "19",
                                            "type": "text",
                                            "label": "T"
                                        },
                                        {
                                            "name": "20",
                                            "type": "text",
                                            "label": "U"
                                        },
                                        {
                                            "name": "21",
                                            "type": "text",
                                            "label": "V"
                                        },
                                        {
                                            "name": "22",
                                            "type": "text",
                                            "label": "W"
                                        },
                                        {
                                            "name": "23",
                                            "type": "text",
                                            "label": "X"
                                        },
                                        {
                                            "name": "24",
                                            "type": "text",
                                            "label": "Y"
                                        },
                                        {
                                            "name": "25",
                                            "type": "text",
                                            "label": "Z"
                                        },
                                        {
                                            "name": "26",
                                            "type": "text",
                                            "label": "AA"
                                        },
                                        {
                                            "name": "27",
                                            "type": "text",
                                            "label": "AB"
                                        },
                                        {
                                            "name": "28",
                                            "type": "text",
                                            "label": "AC"
                                        },
                                        {
                                            "name": "29",
                                            "type": "text",
                                            "label": "AD"
                                        },
                                        {
                                            "name": "30",
                                            "type": "text",
                                            "label": "AE"
                                        },
                                        {
                                            "name": "31",
                                            "type": "text",
                                            "label": "AF"
                                        },
                                        {
                                            "name": "32",
                                            "type": "text",
                                            "label": "AG"
                                        },
                                        {
                                            "name": "33",
                                            "type": "text",
                                            "label": "AH"
                                        },
                                        {
                                            "name": "34",
                                            "type": "text",
                                            "label": "AI"
                                        },
                                        {
                                            "name": "35",
                                            "type": "text",
                                            "label": "AJ"
                                        },
                                        {
                                            "name": "36",
                                            "type": "text",
                                            "label": "AK"
                                        },
                                        {
                                            "name": "37",
                                            "type": "text",
                                            "label": "AL"
                                        },
                                        {
                                            "name": "38",
                                            "type": "text",
                                            "label": "AM"
                                        },
                                        {
                                            "name": "39",
                                            "type": "text",
                                            "label": "AN"
                                        },
                                        {
                                            "name": "40",
                                            "type": "text",
                                            "label": "AO"
                                        },
                                        {
                                            "name": "41",
                                            "type": "text",
                                            "label": "AP"
                                        },
                                        {
                                            "name": "42",
                                            "type": "text",
                                            "label": "AQ"
                                        },
                                        {
                                            "name": "43",
                                            "type": "text",
                                            "label": "AR"
                                        },
                                        {
                                            "name": "44",
                                            "type": "text",
                                            "label": "AS"
                                        },
                                        {
                                            "name": "45",
                                            "type": "text",
                                            "label": "AT"
                                        },
                                        {
                                            "name": "46",
                                            "type": "text",
                                            "label": "AU"
                                        },
                                        {
                                            "name": "47",
                                            "type": "text",
                                            "label": "AV"
                                        },
                                        {
                                            "name": "48",
                                            "type": "text",
                                            "label": "AW"
                                        },
                                        {
                                            "name": "49",
                                            "type": "text",
                                            "label": "AX"
                                        },
                                        {
                                            "name": "50",
                                            "type": "text",
                                            "label": "AY"
                                        },
                                        {
                                            "name": "51",
                                            "type": "text",
                                            "label": "AZ"
                                        },
                                        {
                                            "name": "52",
                                            "type": "text",
                                            "label": "BA"
                                        },
                                        {
                                            "name": "53",
                                            "type": "text",
                                            "label": "BB"
                                        },
                                        {
                                            "name": "54",
                                            "type": "text",
                                            "label": "BC"
                                        },
                                        {
                                            "name": "55",
                                            "type": "text",
                                            "label": "BD"
                                        },
                                        {
                                            "name": "56",
                                            "type": "text",
                                            "label": "BE"
                                        },
                                        {
                                            "name": "57",
                                            "type": "text",
                                            "label": "BF"
                                        },
                                        {
                                            "name": "58",
                                            "type": "text",
                                            "label": "BG"
                                        },
                                        {
                                            "name": "59",
                                            "type": "text",
                                            "label": "BH"
                                        },
                                        {
                                            "name": "60",
                                            "type": "text",
                                            "label": "BI"
                                        },
                                        {
                                            "name": "61",
                                            "type": "text",
                                            "label": "BJ"
                                        },
                                        {
                                            "name": "62",
                                            "type": "text",
                                            "label": "BK"
                                        },
                                        {
                                            "name": "63",
                                            "type": "text",
                                            "label": "BL"
                                        },
                                        {
                                            "name": "64",
                                            "type": "text",
                                            "label": "BM"
                                        },
                                        {
                                            "name": "65",
                                            "type": "text",
                                            "label": "BN"
                                        },
                                        {
                                            "name": "66",
                                            "type": "text",
                                            "label": "BO"
                                        },
                                        {
                                            "name": "67",
                                            "type": "text",
                                            "label": "BP"
                                        },
                                        {
                                            "name": "68",
                                            "type": "text",
                                            "label": "BQ"
                                        },
                                        {
                                            "name": "69",
                                            "type": "text",
                                            "label": "BR"
                                        },
                                        {
                                            "name": "70",
                                            "type": "text",
                                            "label": "BS"
                                        },
                                        {
                                            "name": "71",
                                            "type": "text",
                                            "label": "BT"
                                        },
                                        {
                                            "name": "72",
                                            "type": "text",
                                            "label": "BU"
                                        },
                                        {
                                            "name": "73",
                                            "type": "text",
                                            "label": "BV"
                                        },
                                        {
                                            "name": "74",
                                            "type": "text",
                                            "label": "BW"
                                        },
                                        {
                                            "name": "75",
                                            "type": "text",
                                            "label": "BX"
                                        },
                                        {
                                            "name": "76",
                                            "type": "text",
                                            "label": "BY"
                                        },
                                        {
                                            "name": "77",
                                            "type": "text",
                                            "label": "BZ"
                                        },
                                        {
                                            "name": "78",
                                            "type": "text",
                                            "label": "CA"
                                        },
                                        {
                                            "name": "79",
                                            "type": "text",
                                            "label": "CB"
                                        },
                                        {
                                            "name": "80",
                                            "type": "text",
                                            "label": "CC"
                                        },
                                        {
                                            "name": "81",
                                            "type": "text",
                                            "label": "CD"
                                        },
                                        {
                                            "name": "82",
                                            "type": "text",
                                            "label": "CE"
                                        },
                                        {
                                            "name": "83",
                                            "type": "text",
                                            "label": "CF"
                                        },
                                        {
                                            "name": "84",
                                            "type": "text",
                                            "label": "CG"
                                        },
                                        {
                                            "name": "85",
                                            "type": "text",
                                            "label": "CH"
                                        },
                                        {
                                            "name": "86",
                                            "type": "text",
                                            "label": "CI"
                                        },
                                        {
                                            "name": "87",
                                            "type": "text",
                                            "label": "CJ"
                                        },
                                        {
                                            "name": "88",
                                            "type": "text",
                                            "label": "CK"
                                        },
                                        {
                                            "name": "89",
                                            "type": "text",
                                            "label": "CL"
                                        },
                                        {
                                            "name": "90",
                                            "type": "text",
                                            "label": "CM"
                                        },
                                        {
                                            "name": "91",
                                            "type": "text",
                                            "label": "CN"
                                        },
                                        {
                                            "name": "92",
                                            "type": "text",
                                            "label": "CO"
                                        },
                                        {
                                            "name": "93",
                                            "type": "text",
                                            "label": "CP"
                                        },
                                        {
                                            "name": "94",
                                            "type": "text",
                                            "label": "CQ"
                                        },
                                        {
                                            "name": "95",
                                            "type": "text",
                                            "label": "CR"
                                        },
                                        {
                                            "name": "96",
                                            "type": "text",
                                            "label": "CS"
                                        },
                                        {
                                            "name": "97",
                                            "type": "text",
                                            "label": "CT"
                                        },
                                        {
                                            "name": "98",
                                            "type": "text",
                                            "label": "CU"
                                        },
                                        {
                                            "name": "99",
                                            "type": "text",
                                            "label": "CV"
                                        },
                                        {
                                            "name": "100",
                                            "type": "text",
                                            "label": "CW"
                                        },
                                        {
                                            "name": "101",
                                            "type": "text",
                                            "label": "CX"
                                        },
                                        {
                                            "name": "102",
                                            "type": "text",
                                            "label": "CY"
                                        },
                                        {
                                            "name": "103",
                                            "type": "text",
                                            "label": "CZ"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Values"
                                }
                            ],
                            "label": "Yes"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:google",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "mode",
                        "type": "select",
                        "label": "Search Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "select",
                                "fromAll",
                                "map"
                            ]
                        }
                    },
                    {
                        "name": "insertUnformatted",
                        "type": "boolean",
                        "label": "Unformatted",
                        "required": true
                    },
                    {
                        "name": "valueInputOption",
                        "type": "select",
                        "label": "Value input option",
                        "validate": {
                            "enum": [
                                "USER_ENTERED",
                                "RAW"
                            ]
                        }
                    },
                    {
                        "name": "insertDataOption",
                        "type": "select",
                        "label": "Insert data option",
                        "validate": {
                            "enum": [
                                "INSERT_ROWS",
                                "OVERWRITE"
                            ]
                        }
                    },
                    {
                        "name": "spreadsheetId",
                        "type": "text",
                        "label": "Spreadsheet ID",
                        "required": true
                    },
                    {
                        "name": "sheetId",
                        "type": "select",
                        "label": "Sheet Name",
                        "required": true
                    },
                    {
                        "name": "includesHeaders",
                        "type": "select",
                        "label": "Table contains headers",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "name": "values",
                        "type": "collection",
                        "label": "Values",
                        "spec": [
                            {
                                "name": "0",
                                "type": "text",
                                "label": "A"
                            },
                            {
                                "name": "1",
                                "type": "text",
                                "label": "B"
                            },
                            {
                                "name": "2",
                                "type": "text",
                                "label": "C"
                            },
                            {
                                "name": "3",
                                "type": "text",
                                "label": "D"
                            },
                            {
                                "name": "4",
                                "type": "text",
                                "label": "E"
                            },
                            {
                                "name": "5",
                                "type": "text",
                                "label": "F"
                            },
                            {
                                "name": "6",
                                "type": "text",
                                "label": "G"
                            },
                            {
                                "name": "7",
                                "type": "text",
                                "label": "H"
                            },
                            {
                                "name": "8",
                                "type": "text",
                                "label": "I"
                            },
                            {
                                "name": "9",
                                "type": "text",
                                "label": "J"
                            },
                            {
                                "name": "10",
                                "type": "text",
                                "label": "K"
                            },
                            {
                                "name": "11",
                                "type": "text",
                                "label": "L"
                            },
                            {
                                "name": "12",
                                "type": "text",
                                "label": "M"
                            },
                            {
                                "name": "13",
                                "type": "text",
                                "label": "N"
                            },
                            {
                                "name": "14",
                                "type": "text",
                                "label": "O"
                            },
                            {
                                "name": "15",
                                "type": "text",
                                "label": "P"
                            },
                            {
                                "name": "16",
                                "type": "text",
                                "label": "Q"
                            },
                            {
                                "name": "17",
                                "type": "text",
                                "label": "R"
                            },
                            {
                                "name": "18",
                                "type": "text",
                                "label": "S"
                            },
                            {
                                "name": "19",
                                "type": "text",
                                "label": "T"
                            },
                            {
                                "name": "20",
                                "type": "text",
                                "label": "U"
                            },
                            {
                                "name": "21",
                                "type": "text",
                                "label": "V"
                            },
                            {
                                "name": "22",
                                "type": "text",
                                "label": "W"
                            },
                            {
                                "name": "23",
                                "type": "text",
                                "label": "X"
                            },
                            {
                                "name": "24",
                                "type": "text",
                                "label": "Y"
                            },
                            {
                                "name": "25",
                                "type": "text",
                                "label": "Z"
                            },
                            {
                                "name": "26",
                                "type": "text",
                                "label": "AA"
                            },
                            {
                                "name": "27",
                                "type": "text",
                                "label": "AB"
                            },
                            {
                                "name": "28",
                                "type": "text",
                                "label": "AC"
                            },
                            {
                                "name": "29",
                                "type": "text",
                                "label": "AD"
                            },
                            {
                                "name": "30",
                                "type": "text",
                                "label": "AE"
                            },
                            {
                                "name": "31",
                                "type": "text",
                                "label": "AF"
                            },
                            {
                                "name": "32",
                                "type": "text",
                                "label": "AG"
                            },
                            {
                                "name": "33",
                                "type": "text",
                                "label": "AH"
                            },
                            {
                                "name": "34",
                                "type": "text",
                                "label": "AI"
                            },
                            {
                                "name": "35",
                                "type": "text",
                                "label": "AJ"
                            },
                            {
                                "name": "36",
                                "type": "text",
                                "label": "AK"
                            },
                            {
                                "name": "37",
                                "type": "text",
                                "label": "AL"
                            },
                            {
                                "name": "38",
                                "type": "text",
                                "label": "AM"
                            },
                            {
                                "name": "39",
                                "type": "text",
                                "label": "AN"
                            },
                            {
                                "name": "40",
                                "type": "text",
                                "label": "AO"
                            },
                            {
                                "name": "41",
                                "type": "text",
                                "label": "AP"
                            },
                            {
                                "name": "42",
                                "type": "text",
                                "label": "AQ"
                            },
                            {
                                "name": "43",
                                "type": "text",
                                "label": "AR"
                            },
                            {
                                "name": "44",
                                "type": "text",
                                "label": "AS"
                            },
                            {
                                "name": "45",
                                "type": "text",
                                "label": "AT"
                            },
                            {
                                "name": "46",
                                "type": "text",
                                "label": "AU"
                            },
                            {
                                "name": "47",
                                "type": "text",
                                "label": "AV"
                            },
                            {
                                "name": "48",
                                "type": "text",
                                "label": "AW"
                            },
                            {
                                "name": "49",
                                "type": "text",
                                "label": "AX"
                            },
                            {
                                "name": "50",
                                "type": "text",
                                "label": "AY"
                            },
                            {
                                "name": "51",
                                "type": "text",
                                "label": "AZ"
                            },
                            {
                                "name": "52",
                                "type": "text",
                                "label": "BA"
                            },
                            {
                                "name": "53",
                                "type": "text",
                                "label": "BB"
                            },
                            {
                                "name": "54",
                                "type": "text",
                                "label": "BC"
                            },
                            {
                                "name": "55",
                                "type": "text",
                                "label": "BD"
                            },
                            {
                                "name": "56",
                                "type": "text",
                                "label": "BE"
                            },
                            {
                                "name": "57",
                                "type": "text",
                                "label": "BF"
                            },
                            {
                                "name": "58",
                                "type": "text",
                                "label": "BG"
                            },
                            {
                                "name": "59",
                                "type": "text",
                                "label": "BH"
                            },
                            {
                                "name": "60",
                                "type": "text",
                                "label": "BI"
                            },
                            {
                                "name": "61",
                                "type": "text",
                                "label": "BJ"
                            },
                            {
                                "name": "62",
                                "type": "text",
                                "label": "BK"
                            },
                            {
                                "name": "63",
                                "type": "text",
                                "label": "BL"
                            },
                            {
                                "name": "64",
                                "type": "text",
                                "label": "BM"
                            },
                            {
                                "name": "65",
                                "type": "text",
                                "label": "BN"
                            },
                            {
                                "name": "66",
                                "type": "text",
                                "label": "BO"
                            },
                            {
                                "name": "67",
                                "type": "text",
                                "label": "BP"
                            },
                            {
                                "name": "68",
                                "type": "text",
                                "label": "BQ"
                            },
                            {
                                "name": "69",
                                "type": "text",
                                "label": "BR"
                            },
                            {
                                "name": "70",
                                "type": "text",
                                "label": "BS"
                            },
                            {
                                "name": "71",
                                "type": "text",
                                "label": "BT"
                            },
                            {
                                "name": "72",
                                "type": "text",
                                "label": "BU"
                            },
                            {
                                "name": "73",
                                "type": "text",
                                "label": "BV"
                            },
                            {
                                "name": "74",
                                "type": "text",
                                "label": "BW"
                            },
                            {
                                "name": "75",
                                "type": "text",
                                "label": "BX"
                            },
                            {
                                "name": "76",
                                "type": "text",
                                "label": "BY"
                            },
                            {
                                "name": "77",
                                "type": "text",
                                "label": "BZ"
                            },
                            {
                                "name": "78",
                                "type": "text",
                                "label": "CA"
                            },
                            {
                                "name": "79",
                                "type": "text",
                                "label": "CB"
                            },
                            {
                                "name": "80",
                                "type": "text",
                                "label": "CC"
                            },
                            {
                                "name": "81",
                                "type": "text",
                                "label": "CD"
                            },
                            {
                                "name": "82",
                                "type": "text",
                                "label": "CE"
                            },
                            {
                                "name": "83",
                                "type": "text",
                                "label": "CF"
                            },
                            {
                                "name": "84",
                                "type": "text",
                                "label": "CG"
                            },
                            {
                                "name": "85",
                                "type": "text",
                                "label": "CH"
                            },
                            {
                                "name": "86",
                                "type": "text",
                                "label": "CI"
                            },
                            {
                                "name": "87",
                                "type": "text",
                                "label": "CJ"
                            },
                            {
                                "name": "88",
                                "type": "text",
                                "label": "CK"
                            },
                            {
                                "name": "89",
                                "type": "text",
                                "label": "CL"
                            },
                            {
                                "name": "90",
                                "type": "text",
                                "label": "CM"
                            },
                            {
                                "name": "91",
                                "type": "text",
                                "label": "CN"
                            },
                            {
                                "name": "92",
                                "type": "text",
                                "label": "CO"
                            },
                            {
                                "name": "93",
                                "type": "text",
                                "label": "CP"
                            },
                            {
                                "name": "94",
                                "type": "text",
                                "label": "CQ"
                            },
                            {
                                "name": "95",
                                "type": "text",
                                "label": "CR"
                            },
                            {
                                "name": "96",
                                "type": "text",
                                "label": "CS"
                            },
                            {
                                "name": "97",
                                "type": "text",
                                "label": "CT"
                            },
                            {
                                "name": "98",
                                "type": "text",
                                "label": "CU"
                            },
                            {
                                "name": "99",
                                "type": "text",
                                "label": "CV"
                            },
                            {
                                "name": "100",
                                "type": "text",
                                "label": "CW"
                            },
                            {
                                "name": "101",
                                "type": "text",
                                "label": "CX"
                            },
                            {
                                "name": "102",
                                "type": "text",
                                "label": "CY"
                            },
                            {
                                "name": "103",
                                "type": "text",
                                "label": "CZ"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 44,
            "module": "builtin:BasicAggregator",
            "version": 1,
            "parameters": {
                "feeder": 34
            },
            "mapper": {
                "__IMTLENGTH__": "{{29.`__IMTLENGTH__`}}",
                "__IMTINDEX__": "{{29.`__IMTINDEX__`}}"
            },
            "metadata": {
                "designer": {
                    "x": 2151,
                    "y": -40
                },
                "restore": {
                    "extra": {
                        "feeder": {
                            "label": "Google Sheets - Add a Row [34]"
                        },
                        "target": {
                            "label": "Custom"
                        }
                    }
                },
                "expect": [
                    {
                        "name": "__IMTTARGET__",
                        "type": "collection",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key",
                                "required": true
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value",
                                "required": true
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 41,
            "module": "email:ActionSendEmail",
            "version": 7,
            "parameters": {
                "account": 5338387,
                "saveAfterSent": false
            },
            "filter": {
                "name": "",
                "conditions": [
                    [
                        {
                            "a": "{{44.array[].`__IMTLENGTH__`}}",
                            "o": "text:equal",
                            "b": "{{44.array[].`__IMTINDEX__`}}"
                        }
                    ]
                ]
            },
            "mapper": {
                "to": [
                    "nick@nickhartprojects.co.uk"
                ],
                "subject": "The Filtered Spreadsheet",
                "contentType": "html",
                "attachments": [],
                "cc": [],
                "bcc": [],
                "from": "",
                "sender": "",
                "replyTo": "",
                "inReplyTo": "",
                "references": [],
                "priority": "normal",
                "headers": [],
                "html": "<p>Hello Nick,</p><p>Here is your spreadsheet!</p><p><a href=\"{{32.spreadsheetUrl}}\">{{32.spreadsheetUrl}}</a></p><p>Kind regards,</p><p>Also Nick</p>"
            },
            "metadata": {
                "designer": {
                    "x": 2441,
                    "y": -43
                },
                "restore": {
                    "parameters": {
                        "account": {
                            "label": "My Others (SMTP) connection (SMTP nick@nickhartprojects.co.uk)",
                            "data": {
                                "scoped": "true",
                                "connection": "smtp"
                            }
                        },
                        "saveAfterSent": {
                            "label": "No"
                        }
                    },
                    "expect": {
                        "to": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "contentType": {
                            "label": "HTML"
                        },
                        "attachments": {
                            "mode": "chose"
                        },
                        "cc": {
                            "mode": "chose"
                        },
                        "bcc": {
                            "mode": "chose"
                        },
                        "references": {
                            "mode": "chose"
                        },
                        "priority": {
                            "label": "Normal"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "account",
                        "type": "account:smtp,google-restricted,microsoft-smtp-imap",
                        "label": "Connection",
                        "required": true
                    },
                    {
                        "name": "saveAfterSent",
                        "type": "select",
                        "label": "Save message after sending",
                        "required": true,
                        "validate": {
                            "enum": [
                                true,
                                false
                            ]
                        }
                    },
                    {
                        "type": "hidden"
                    }
                ],
                "expect": [
                    {
                        "name": "to",
                        "type": "array",
                        "label": "To",
                        "required": true,
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address",
                            "required": true
                        }
                    },
                    {
                        "name": "subject",
                        "type": "text",
                        "label": "Subject"
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Content Type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "html",
                                "text"
                            ]
                        }
                    },
                    {
                        "name": "attachments",
                        "type": "array",
                        "label": "Attachments",
                        "spec": [
                            {
                                "name": "fileName",
                                "label": "File name",
                                "type": "filename",
                                "required": true,
                                "semantic": "file:name"
                            },
                            {
                                "name": "data",
                                "label": "Data",
                                "type": "buffer",
                                "required": true,
                                "semantic": "file:data"
                            },
                            {
                                "name": "cid",
                                "label": "Content-ID",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "cc",
                        "type": "array",
                        "label": "Copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "bcc",
                        "type": "array",
                        "label": "Blind copy recipient",
                        "spec": {
                            "name": "value",
                            "type": "email",
                            "label": "Email address"
                        }
                    },
                    {
                        "name": "from",
                        "type": "text",
                        "label": "From"
                    },
                    {
                        "name": "sender",
                        "type": "text",
                        "label": "Sender"
                    },
                    {
                        "name": "replyTo",
                        "type": "text",
                        "label": "Reply-To"
                    },
                    {
                        "name": "inReplyTo",
                        "type": "text",
                        "label": "In-Reply-To"
                    },
                    {
                        "name": "references",
                        "type": "array",
                        "label": "References",
                        "spec": {
                            "type": "text",
                            "label": "Reference",
                            "required": true,
                            "name": "value"
                        }
                    },
                    {
                        "name": "priority",
                        "type": "select",
                        "label": "Priority",
                        "validate": {
                            "enum": [
                                "high",
                                "normal",
                                "low"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": [
                            {
                                "name": "key",
                                "label": "Key",
                                "type": "text",
                                "required": true
                            },
                            {
                                "name": "value",
                                "label": "Value",
                                "type": "text",
                                "required": true
                            }
                        ]
                    },
                    {
                        "name": "html",
                        "type": "text",
                        "label": "Content"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu2.make.com",
        "notes": []
    }
}